@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#111111] dark:bg-[#111111];
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  margin: auto;
}

code,
pre {
  font-family: "Roboto Mono", monospace !important;
  font-size: 16px !important;
  line-height: 1.6 !important;
}

p,
li {
  line-height: 1.8;
}

h1 {
  text-transform: capitalize;
}
