@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

::selection {
    color: #008ae6;
    background-color: #172229;
}

body {
    @apply font-[family-name:var(--font-geist-sans)];
}

h1 {
    text-transform: capitalize;
}
